.sub{
    color: white;
    background-color: black;
    margin-left: 50px;
}
.nm{
    display: grid;
    grid-template-columns: 60% 40%;
}
.sb{
    margin-right: 50px;
    background-color: black;
    color: white;
}
.nz{
    margin-left: 30px;
    width: 200px;
}
.np{
    margin-left: 55px;
    width: 200px;
}
.nk{
    margin-left: 15px;
}