.nd{
    background-color: darkgoldenrod;
    border-radius: 5px;
    margin-left: 90px;
    color: white;
    font-size: 20px;
    width: 80px;
    height: 30px;
}
.mk{
    margin-left: 140px;
}
.type{
    width: 150px;
    margin-left: 100px;
}
.typ{
    margin-left: 120px;
}
.tye{
    margin-right: 45px;
}